@import "tailwindcss";

/* Define a custom variant for dark mode */
@custom-variant dark (&:is(.dark *));

@theme {
  --color-joublue: #3b82f6;
  --color-joupurple: #8b5cf6;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Hide scrollbar for mobile navigation */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  -webkit-text-fill-color: #111827 !important;
  -moz-text-fill-color: #111827 !important;
  color: #111827 !important;
  background-color: white !important;
  background: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -moz-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 0s ease-out !important;
}